@{
    Layout = "_DatabaseLayout";
}
@model List<ItemDto>

<div class="recent_payments">
    <div class="title">
        <h2>Items</h2>
        <div class="action">
            <button onclick="addHeader()" data-bs-toggle="modal" data-bs-target="#Item-edit">Add</button>
        </div>
    </div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price ($)</th>
            <th>Image Path</th>
            <th></th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr id="tr@(i)">
                <td data-key="Id">@Model[i].Id</td>
                <td data-key="Name">@Model[i].Name</td>
                <td data-key="Price">@Model[i].Price</td>
                <td data-key="ImagePath">@Model[i].ImagePath</td>
                <td data-key="none">
                    <div class="icon">
                        <span onclick="fillEditInfo('tr@(i)')" class="material-symbols-outlined" data-bs-toggle="modal" data-bs-target="#Item-edit">surgical</span>
                        <span class="material-symbols-outlined" onclick="deleteRecord('tr@(i)')">delete</span>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<!-- start EDIT Items -->
<div class="modal fade" id="Item-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-10" id="exampleModalLabel">Edit Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="">
                        <div class="main-user-info">
                            <div class="user-input-box">
                                <label style="color: black;">Id:</label>
                                <input type="text" name="Id" value="0" readonly/>
                            </div>
                            <div class="user-input-box">
                                <label style="color: black;">Name:</label>
                                <input type="text" name="Name" required/>
                            </div>
                            <div class="user-input-box">
                                <label style="color: black;">Price:</label>
                                <input type="number" min="0" name="Price" required />
                            </div>
                            <div class="user-input-box">
                                <label style="color: black;">Image Path:</label>
                                <input type="file" name="ImagePath" accept="image/*" required />
                            </div>
                        </div>
                    </div>
                    <div class="send"><input type="submit" value="Edit"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end EDIT Items -->

<script>
    function addHeader() {
        document.querySelector('#Item-edit h1').textContent = "Add Item";
        document.querySelector('#Item-edit [type="submit"]').value = "Add";
    }

    function fillEditInfo(trId) {
        document.querySelector('#Item-edit h1').textContent = "Edit Item";
        document.querySelector('#Item-edit [type="submit"]').value = "Edit";
        let cells = document.getElementById(trId).querySelectorAll('td');
        let data = {};

        cells.forEach(cell => {
            let key = cell.getAttribute('data-key');
            if (key !== 'none') {
                data[key] = cell.textContent;
            }
        });

        document.querySelector('#Item-edit [name="Id"]').value = data.Id;
        document.querySelector('#Item-edit [name="Name"]').value = data.Name;
        document.querySelector('#Item-edit [name="Price"]').value = data.Price;
        document.querySelector('#Item-edit [name="ImagePath"]').value = data.ImagePath;
    }

    function deleteRecord(trId) {
        let cells = document.getElementById(trId).querySelectorAll('td');
        let data = {};

        cells.forEach(cell => {
            let key = cell.getAttribute('data-key');
            if (key !== 'none') {
                data[key] = cell.textContent;
            }
        });
        data.key = "Item";

        fetch('/database/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => response.text())
            .then(data => {
                if (data === 'true') {
                    location.reload();
                }
            });
    }

    document.querySelector('form').addEventListener('submit', event => {
        event.preventDefault();
        let form = document.querySelector('form');
        let formData = {};

        formData.Id = form.elements['Id'].value;
        formData.Name = form.elements['Name'].value;
        formData.Price = form.elements['Price'].value;
        formData.ImagePath = form.elements['ImagePath'].value;
        formData.key = 'Item';

        let header = document.querySelector('#Item-edit h1').textContent;
        let action;
        if (header === 'Add Item') {
            action = 'add';
        } else {
            action = 'edit';
        }
        fetch(`/database/${action}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => response.text())
            .then(data => {
                if (data === 'true') {
                    location.reload();
                }
            });
    });
</script>